language: java
jdk:
  - oraclejdk8
env:
  - CC_INSTALLER=cc-def-10.2-fix2-lnxamd64
  - CC_INSTALLER=cc-def-10.1-fix9-lnxamd64
script:
  - export CC_ENV=travis && mkdir -p environments/$CC_ENV && echo test=true>environments/$CC_ENV/env.properties
  - ant -f main.xml client
  - ant -f main.xml -Daccept.license=true boot
